body {
  margin: 0;
  background: #f9f9f9;
}
button {
  padding: 8px 14px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #4cafef;
  color: white;
}
button:hover {
  background: #369cdc;
}
